{% extends "fixera_app/base.html" %}
{% load static %}

{% block header %}
<h1>Bugs:</h1>
{% endblock %}

{% block main %}
<ul id="bug-list">
    {% for bug in bugs %}
    <li>
        <h2>{{ bug.title }}</h2>
        <p>{{ bug.description }}</p>
        <p>Created at: {{ bug.created_at }}</p>
    </li>
    {% empty %}
    <li>No bugs found</li>
    {% endfor %}
</ul>

<form id="bug-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Bug</button>
</form>
{% endblock %}

{% block script %}
<script src="{% static 'fixera_app/js/script.js' %}" type="module"></script>
{% endblock %}